print("Welcome to the tip calculator")

bill = float(input("How much was your bill?"))
 
people = int(input("How many people are splitting this bill?"))

tip = int(input("What percent tip would you like to give 10, 15, or 20?"))

total_bill = tip / 100 * bill + bill

total = float(round(total_bill, 2))

per_person = total / people

final_amount = round(per_person, 2)
final_amount = "{:.2f}".format(per_person)

print(f"The total bill is {total}, and each person will pay ${final_amount}")
